<header class="clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
                            <span><i class="fa fa-envelope-o"></i>support@express.com</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons">
                            <li><a class="facebook" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a class="rss" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-rss"></i></a></li>
                            <li><a class="google" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a class="pinterest" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <br />
                <!-- <a class="navbar-brand" href="http://demos.zozotheme.com/express2/index.html"><img src="./logo.png" alt="" style="font-family: 'Times New Roman', Times, serif; color: #ffba00;">RM5SE EXPRESS</a> -->
                <h2 style="font-family: 'Times New Roman', Times, serif; color: #ffba00; font-weight: 700;">RM5SE
                    EXPRESS</h2>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" routerLink="/trangchu">TRANG CHỦ</a>
                    </li>

                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/about.html">GIỚI THIỆU</a> -->
                    <!-- <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/pricing.html">BẢNG GIÁ</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/team.html">Team</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/404-error.html">Error 404 Page</a></li>
                        </ul> -->

                    <li class="drop"><a href="">DỊCH VỤ</a>
                        <ul class="dropdown">
                            <li><a routerLink="/vanchuyenduongbay">VẬN CHUYỂN ĐƯỜNG
                                    BAY</a></li>
                            <li><a routerLink="/vanchuyenduongbien">VẬN CHUYỂN ĐƯỜNG
                                    BIỂN</a></li>
                            <li><a>QUY TRÌNH GỬI
                                    HÀNG</a></li>
                            <!-- <li><a href="http://demos.zozotheme.com/express2/air.html">Air Freight</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/cargo.html">Cargo Express</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/warehousing.html">Warehousing</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/brokerage.html">Custom
                                    Brokerage</a></li> -->
                        </ul>
                    </li>
                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/gallery.html">Gallery</a>
                        <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/gallery-2col.html">Gallery 2
                                    Colums</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/gallery-3col.html">Gallery 3
                                    Colums</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/gallery.html">Gallery 4 Colums</a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/blog.html">Blog</a>
                        <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/blog.html">Blog Default</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/blog-3col.html">Blog 3 Colums</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/blog-2col.html">Blog 2 Colums</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/single-post.html">Single Post</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="drop"><a>QUẢN LÝ ĐƠN
                            HÀNG</a>
                        <ul class="dropdown">
                            <li><a routerLink="/baogiachitiet">BÁO GIÁ CHI TIẾT</a>
                            </li>
                            <li><a routerLink="/theodoikienhang">THEO DÕI KIỆN
                                    HÀNG</a></li>

                            <!-- <li><a href="http://demos.zozotheme.com/express2/air.html">Air Freight</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/cargo.html">Cargo Express</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/warehousing.html">Warehousing</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/brokerage.html">Custom
                                    Brokerage</a></li> -->
                        </ul>
                    </li>
                    <li><a routerLink="/">ĐẤU GIÁ</a>
                        <!-- <li><a href="http://demos.zozotheme.com/express2/contact.html">BẢNG GIÁ</a></li> -->
                        <!-- <li><a href="/taomoikienhang">TẠO MỚI KIỆN HÀNG</a></li> -->
                    <li class="drop" *ngIf="role=='1' || role =='2'"><a>QUẢN LÝ CHUNG</a>
                        <ul class="dropdown">

                            <li><a routerLink="/taomoikienhang">TẠO MỚI KIỆN
                                    HÀNG</a></li>
                            <li><a routerLink="/danhsachkienhang">DANH SÁCH KIỆN HÀNG</a></li>
                            <li *ngIf="role=='1'"><a routerLink="/quanlytaikhoan">QUẢN LÝ TÀI KHOẢN</a></li>
                        </ul>
                    </li>
                    <li *ngIf="role==''||role==null"><a routerLink="/dangnhap">ĐĂNG NHẬP</a></li>
                    <li *ngIf="role!='' && role!=null"><a routerLink="/dangxuat">ĐĂNG XUẤT</a></li>
                    <!-- <li class="search drop"><a href="http://demos.zozotheme.com/express2/#"
                            class="open-search"><i class="fa fa-search"></i></a>
                        <form class="form-search">
                            <input type="search" placeholder="Search:">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>




<section class="page-banner-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>QUẢN LÝ KIỆN HÀNG</h2>
            </div>
            <div class="col-md-6">
                <ul class="page-depth">
                    <!-- <li><a href="index.html">Express</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="ocean.html">Ocean Freight</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <form id="contact-form">
            <div class="row">
                <div class="col-md-3" style=" font-size: medium;">
                    <input  style="font-family: Arial, Helvetica, sans-serif" type="text" id="myInput" onkeyup="myFunction()"
                    placeholder="Tìm Kiếm Theo Mã Đơn Hàng">
                </div>
                <div class="col-md-3" style=" font-size: medium;">
                    <input  style="font-family: Arial, Helvetica, sans-serif" type="text" id="myInput1" onkeyup="myFunction1()"
                    placeholder="Tìm Kiếm Theo Tên Người Gửi">
                </div>
                <div class="col-md-3" style=" font-size: medium;">
                    <input  style="font-family: Arial, Helvetica, sans-serif" type="text" id="myInput2" onkeyup="myFunction2()"
                    placeholder="Tìm Kiếm Theo Số Điện Thoại Người Gửi">
                </div>
                <!-- <div class="col-md-1">
                    <input value="Tìm kiếm" type="submit" >
                </div> -->

            </div>
        </form>
        <br />

        <table id="customers">
            <tr>
                <th>Mã Đơn Hàng</th>
                <th>Tên Người Gửi</th>
                <th>Điện Thoại Người Gửi</th>
                <th>Tên Người Nhận</th>
                <th>Điện Thoại Người Nhận</th>
                <th>Nhân Viên</th>
                <th>Thời Gian</th>
                <th>Ghi Chú</th>
                <th></th>
            </tr>
            <tr *ngFor="let order of listOrder">
                <td>{{order.madonhang}}</td>
                <td>{{order.tennguoigui}}</td>
                <td>{{order.sdtnguoigui}}</td>
                <td>{{order.tennguoinhan}}</td>
                <td>{{order.sdtnguoinhan}}</td>
                <td>{{order.tennhanvien}}</td>
                <td>{{order.ngaythang}}</td>
                <td>{{order.ghichu}}</td>
                <td style="text-align: center;"><a style="color:blue;" routerLink="/capnhatdonhang"
                        [queryParams]="{madonhang:order.madonhang}">Cập Nhật</a></td>


            </tr>


        </table>

    </div>
</section>

