<header class="clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
                            <span><i class="fa fa-envelope-o"></i>support@express.com</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons">
                            <li><a class="facebook" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a class="rss" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-rss"></i></a></li>
                            <li><a class="google" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a class="pinterest" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <br />
                <!-- <a class="navbar-brand" href="http://demos.zozotheme.com/express2/index.html"><img src="./logo.png" alt="" style="font-family: 'Times New Roman', Times, serif; color: #ffba00;">RM5SE EXPRESS</a> -->
                <h2 style="font-family: 'Times New Roman', Times, serif; color: #ffba00; font-weight: 700;">RM5SE
                    EXPRESS</h2>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" routerLink="/trangchu">TRANG CHỦ</a>
                    </li>

                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/about.html">GIỚI THIỆU</a> -->
                    <!-- <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/pricing.html">BẢNG GIÁ</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/team.html">Team</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/404-error.html">Error 404 Page</a></li>
                        </ul> -->

                    <li class="drop"><a href="">DỊCH VỤ</a>
                        <ul class="dropdown">
                            <li><a routerLink="/vanchuyenduongbay">VẬN CHUYỂN ĐƯỜNG
                                    BAY</a></li>
                            <li><a routerLink="/vanchuyenduongbien">VẬN CHUYỂN ĐƯỜNG
                                    BIỂN</a></li>
                            <li><a>QUY TRÌNH GỬI
                                    HÀNG</a></li>
                            <!-- <li><a href="http://demos.zozotheme.com/express2/air.html">Air Freight</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/cargo.html">Cargo Express</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/warehousing.html">Warehousing</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/brokerage.html">Custom
                                    Brokerage</a></li> -->
                        </ul>
                    </li>
                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/gallery.html">Gallery</a>
                        <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/gallery-2col.html">Gallery 2
                                    Colums</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/gallery-3col.html">Gallery 3
                                    Colums</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/gallery.html">Gallery 4 Colums</a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/blog.html">Blog</a>
                        <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/blog.html">Blog Default</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/blog-3col.html">Blog 3 Colums</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/blog-2col.html">Blog 2 Colums</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/single-post.html">Single Post</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="drop"><a>QUẢN LÝ ĐƠN
                            HÀNG</a>
                        <ul class="dropdown">
                            <li><a routerLink="/baogiachitiet">BÁO GIÁ CHI TIẾT</a>
                            </li>
                            <li><a routerLink="/theodoikienhang">THEO DÕI KIỆN
                                    HÀNG</a></li>

                            <!-- <li><a href="http://demos.zozotheme.com/express2/air.html">Air Freight</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/cargo.html">Cargo Express</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/warehousing.html">Warehousing</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/brokerage.html">Custom
                                    Brokerage</a></li> -->
                        </ul>
                    </li>
                    <li><a routerLink="/">ĐẤU GIÁ</a>
                        <!-- <li><a href="http://demos.zozotheme.com/express2/contact.html">BẢNG GIÁ</a></li> -->
                        <!-- <li><a href="/taomoikienhang">TẠO MỚI KIỆN HÀNG</a></li> -->
                    <li class="drop" *ngIf="role=='1' || role =='2'"><a>QUẢN LÝ CHUNG</a>
                        <ul class="dropdown">

                            <li><a routerLink="/taomoikienhang">TẠO MỚI KIỆN
                                    HÀNG</a></li>
                            <li><a routerLink="/danhsachkienhang">DANH SÁCH KIỆN HÀNG</a></li>
                            <li *ngIf="role=='1'"><a routerLink="/quanlytaikhoan">QUẢN LÝ TÀI KHOẢN</a></li>
                        </ul>
                    </li>
                    <li *ngIf="role==''||role==null"><a routerLink="/dangnhap">ĐĂNG NHẬP</a></li>
                    <li *ngIf="role!='' && role!=null"><a routerLink="/dangxuat">ĐĂNG XUẤT</a></li>
                    <!-- <li class="search drop"><a href="http://demos.zozotheme.com/express2/#"
                            class="open-search"><i class="fa fa-search"></i></a>
                        <form class="form-search">
                            <input type="search" placeholder="Search:">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>


<section class="clients-section">
    <div class="container">

    </div>
</section>





<section class="quote-section">
    <div class="container">
        <div class="col-md-4 col-xs-12 content">
            <div class="titles">
                <!-- <h2>RM5SE Express</h2> -->
            </div>

            <p style="font-size: medium;">Hãy đăng ký tài khoản để quản lý đơn hàng và nhận được nhiều ưu đãi từ RM5SE
                Express.</p>

            <!-- <p>Với sự đầu tư nghiêm túc về công nghệ, quy trình vận chuyển, cùng đội ngũ nhân viên thân thiện, chuyên nghiệp, Saiko Express hướng đến trở thành dịch vụ vận chuyển Nhật Việt tốt nhất với 3 tiêu chí: Đơn giản - Tận tâm - Uy tín.</p> -->

            <!-- <a href="#" class="button-one">View Details</a> -->

        </div>
        <div class="col-md-5 col-xs-12 col-md-offset-1">

            <form id="contact-form">
                <div class="titles">
                    <h2 style="font-family: 'Times New Roman', Times, serif;">Đăng Ký Tài Khoản</h2>
                    <!-- <p>* for detailed quote use extended version</p> -->
                </div>

                <div class="row">
                    <form [formGroup]="dangkyForm">
                        <div class="col-md-12">
                            <input formControlName="sodienthoaidangky" id="location" placeholder="Số Điện Thoại"
                                type="text">
                        </div>
                        <div class="col-md-12">
                            <input formControlName="tendangky" id="location" placeholder="Họ và Tên" type="text">
                        </div>
                        <div class="col-md-12">
                            <input formControlName="matkhau" id="location" placeholder="Mật Khẩu" type="password">
                        </div>
                        <div class="col-md-12">
                            <input formControlName="matkhau1" id="location" placeholder="Nhập Lại Mật Khẩu" type="password">
                        </div>
                        <div class="col-md-12" *ngIf="error!=''" formControlName="error">{{error}}</div>
                    </form>
                </div>
                <!-- <textarea name="comment" id="comment" placeholder="Message"></textarea> -->
                <div class="row">
                    <div class="col-md-2">
                        <input value="Đăng Ký" type="submit" (click)="onClick()">
                    </div>

                </div>
            </form>

        </div>
    </div>
</section>

<section class="clients-section">
    <div class="container">
        <!-- <div class="clients-title title">
            <h2 class="box-header">Clients - Our Partners</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <blockquote>
                    <p>There are some of <span>our partners</span> and <span>customers</span>, who are very satisfied with our work. <br>Do you want to be <span>next one</span> ?</p>
                </blockquote>
            </div>
            <div class="col-md-5">
                <ul class="client-list">
                    <li>
                        <a href="#"><img src="images/clients/client1.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/client2.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/client3.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/client4.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/client5.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/client6.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/client1.png" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/client2.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div> -->

    </div>
</section>