<!-- <section class="banner-section">
    <div class="container">
        <div class="header-info">
    
    <div class="info-box col-md-3">
        <div class="icon-box no-border">
            <img src="../../assets/images/time.png" alt="">
        </div>
        <div class="text-box">
            <p class="highlighted">Mon - Sat 9.00 - 18.00</p>
            <p>Sunday Closed</p>
        </div>
    </div>
    <div class="info-box col-md-3">
        <div class="icon-box">
            <img src="../../assets/images/call.png" alt="">
        </div>
        <div class="text-box">
            <p class="highlighted">Call Us:</p>
            <p class="phone-number">(123) 456 7890</p>
        </div>
    </div>
    <div class="info-box search-box-wrapper col-md-3">
        <div class="icon-box">
            <img src="../../assets/images/location.png" alt="">
        </div>
        <div class="text-box">
            <p class="highlighted">A 41 Ganesh Nagar Pandav Nagar <br>
New Delhi</p>
        </div>
    </div>
    <div class="info-box col-md-3">

        <div class="text-box">
            <a href="projects.html" class="button-one">Get Quote</a>
        </div>
    </div>
</div>
        
    </div>
</section> -->

<header class="clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="top-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
                            <span><i class="fa fa-envelope-o"></i>support@express.com</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons">
                            <li><a class="facebook" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li><a class="rss" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-rss"></i></a></li>
                            <li><a class="google" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-google-plus"></i></a></li>
                            <li><a class="linkedin" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a class="pinterest" href="http://demos.zozotheme.com/express2/#"><i
                                        class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <br />
                <!-- <a class="navbar-brand" href="http://demos.zozotheme.com/express2/index.html"><img src="./logo.png" alt="" style="font-family: 'Times New Roman', Times, serif; color: #ffba00;">RM5SE EXPRESS</a> -->
                <h2 style="font-family: 'Times New Roman', Times, serif; color: #ffba00; font-weight: 700;">RM5SE
                    EXPRESS</h2>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" routerLink="/trangchu">TRANG CHỦ</a>
                    </li>

                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/about.html">GIỚI THIỆU</a> -->
                    <!-- <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/pricing.html">BẢNG GIÁ</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/team.html">Team</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/404-error.html">Error 404 Page</a></li>
                        </ul> -->

                    <li class="drop"><a href="">DỊCH VỤ</a>
                        <ul class="dropdown">
                            <li><a routerLink="/vanchuyenduongbay">VẬN CHUYỂN ĐƯỜNG
                                    BAY</a></li>
                            <li><a routerLink="/vanchuyenduongbien">VẬN CHUYỂN ĐƯỜNG
                                    BIỂN</a></li>
                            <li><a>QUY TRÌNH GỬI
                                    HÀNG</a></li>
                            <!-- <li><a href="http://demos.zozotheme.com/express2/air.html">Air Freight</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/cargo.html">Cargo Express</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/warehousing.html">Warehousing</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/brokerage.html">Custom
                                    Brokerage</a></li> -->
                        </ul>
                    </li>
                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/gallery.html">Gallery</a>
                        <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/gallery-2col.html">Gallery 2
                                    Colums</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/gallery-3col.html">Gallery 3
                                    Colums</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/gallery.html">Gallery 4 Colums</a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li class="drop"><a href="http://demos.zozotheme.com/express2/blog.html">Blog</a>
                        <ul class="dropdown">
                            <li><a href="http://demos.zozotheme.com/express2/blog.html">Blog Default</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/blog-3col.html">Blog 3 Colums</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/blog-2col.html">Blog 2 Colums</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/single-post.html">Single Post</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="drop"><a>QUẢN LÝ ĐƠN
                            HÀNG</a>
                        <ul class="dropdown">
                            <li><a routerLink="/baogiachitiet">BÁO GIÁ CHI TIẾT</a>
                            </li>
                            <li><a routerLink="/theodoikienhang">THEO DÕI KIỆN
                                    HÀNG</a></li>

                            <!-- <li><a href="http://demos.zozotheme.com/express2/air.html">Air Freight</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/cargo.html">Cargo Express</a></li>
                            <li><a href="http://demos.zozotheme.com/express2/warehousing.html">Warehousing</a>
                            </li>
                            <li><a href="http://demos.zozotheme.com/express2/brokerage.html">Custom
                                    Brokerage</a></li> -->
                        </ul>
                    </li>
                    <li><a routerLink="/">ĐẤU GIÁ</a>
                    <!-- <li><a href="http://demos.zozotheme.com/express2/contact.html">BẢNG GIÁ</a></li> -->
                    <!-- <li><a href="/taomoikienhang">TẠO MỚI KIỆN HÀNG</a></li> -->
                    <li class="drop" *ngIf="role=='1' || role =='2'"><a>QUẢN LÝ CHUNG</a>
                    <ul class="dropdown">
                        
                        <li><a routerLink="/taomoikienhang">TẠO MỚI KIỆN
                                HÀNG</a></li>
                        <li><a routerLink="/danhsachkienhang">DANH SÁCH KIỆN HÀNG</a></li>
                        <li *ngIf="role=='1'"><a routerLink="/quanlytaikhoan">QUẢN LÝ TÀI KHOẢN</a></li>
                    </ul>
                    </li>
                  
                    <li *ngIf="role==''||role==null"><a routerLink="/dangnhap">ĐĂNG NHẬP</a></li>
                    <li *ngIf="role!='' && role!=null"><a routerLink="/dangxuat">ĐĂNG XUẤT</a></li>
                    <!-- <li class="search drop"><a href="http://demos.zozotheme.com/express2/#"
                            class="open-search"><i class="fa fa-search"></i></a>
                        <form class="form-search">
                            <input type="search" placeholder="Search:">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>


<section class="quote-section">
    <div class="container">
        <div class="col-md-6 col-xs-12 content">
            <div class="titles">
                <!-- <h2>RM5SE Express</h2> -->
            </div>

            <p style="font-size: medium;font-family: Arial, Helvetica, sans-serif">Xuất phát từ xu hướng ngày càng phát triển việc vận chuyển hàng hóa giao
                thương giữa Nhật bản và Việt Nam, cùng với sự gia tăng nhu cầu của rất đông người Việt xa xứ tại Nhật
                Bản như gửi quà tặng về tận nhà cho gia đình, người thân tại Việt Nam hay nhu cầu vận chuyển hàng hóa
                của các chủ shop kinh doanh hàng Nhật, .... chúng tôi đã thành lập nên RM5SE Express. </p>

            <!-- <p>Với sự đầu tư nghiêm túc về công nghệ, quy trình vận chuyển, cùng đội ngũ nhân viên thân thiện, chuyên nghiệp, Saiko Express hướng đến trở thành dịch vụ vận chuyển Nhật Việt tốt nhất với 3 tiêu chí: Đơn giản - Tận tâm - Uy tín.</p> -->

            <!-- <a href="#" class="button-one">View Details</a> -->

        </div>
        <div class="col-md-5 col-xs-12 col-md-offset-1">

            <form id="contact-form">
                <div class="titles">
                    <h2 style="font-family: 'Times New Roman', Times, serif;">Tra Cứu Đơn Hàng</h2>
                    <!-- <p>* for detailed quote use extended version</p> -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input style="font-family: Arial, Helvetica, sans-serif" name="location" id="location" placeholder="Mã đơn hàng" type="text" [(ngModel)]="madonhang" >
                    </div>
                    <!-- <div class="col-md-6">
                        <input name="destination" id="destination" placeholder="To Destination" type="text">
                    </div>
                    <div class="col-md-6">
                        <input name="person" id="person" placeholder="Person / Cargo" type="text">
                    </div>
                    <div class="col-md-6">
                        <input name="mail" id="mail" placeholder="Email or Number" type="text">
                    </div> -->
                </div>
                <!-- <textarea name="comment" id="comment" placeholder="Message"></textarea> -->
                <div class="row">
                    <div class="col-md-2">
                        <input  value="Tra Cứu" type="submit" routerLink="/capnhatdonhang" [queryParams]="{madonhang:madonhang}">
                    </div>
                    <!-- <div class="col-md-1">
                       
                    </div>
                    <div class="col-md-2" >
                        <input routerLink="/taomoikienhang" id="submit_contact" value="Tạo Mới Đơn Hàng" type="submit">
                    </div> -->
                </div>
            </form>

        </div>
    </div>
</section>



<section class="feature-section">
    <div class="container">
        <div class="project-title title">
            <h2 class="box-header" style="font-family: Arial, Helvetica, sans-serif; font-weight: 700;">DỊCH VỤ RM5SE
                EXPRESS</h2>
            <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
          
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        </div>
        <div class="row" style="font-family: Arial, Helvetica, sans-serif; ">
            <div class="col-sm-6 col-md-4 col-lg-4"> <a class="icon-box" href="#" target="_self"> <span> <i
                            class="fa fa-dropbox"></i> </span>
                    <h4 class="icon-box__title" style="font-family: Arial, Helvetica, sans-serif; ">KIỂM HÀNG CẨN THẬN
                    </h4>
                    <p>Mỗi kiện hàng đến RM5SE Express sẽ được kiểm tra đầy đủ và đóng lại nguyên kiện. Đảm bảo chính
                        xác về số lượng, cân nặng và kích thước.</p>
                </a> </div>
            <div class="col-sm-6 col-md-4 col-lg-4"> <a class="icon-box" href="#" target="_self"> <span> <i
                            class="fa fa-archive"></i> </span>
                    <h4 class="icon-box__title" style="font-family: Arial, Helvetica, sans-serif; ">ĐÓNG GÓI CHUYÊN
                        NGHIỆP</h4>
                    <p>Hỗ trợ khách hàng đóng gói lại hàng hóa chưa đủ tiêu chuẩn vận chuyển.</p>
                </a> </div>
            <div class="col-sm-6 col-md-4 col-lg-4"> <a class="icon-box" href="#" target="_self"> <span><i
                            class="fa fa-truck"></i></span>
                    <h4 class="icon-box__title" style="font-family: Arial, Helvetica, sans-serif; ">BẢO HIỂM HÀNG HÓA
                    </h4>
                    <p>RM5SE Express sẵn sàng cung cấp dịch vụ bảo hiểm hàng hóa trong trường hợp mất mát, thất lạc để
                        giảm thiểu tối đa rủi ro </p>
                </a> </div>
            <div class="col-sm-6 col-md-4 col-lg-4"> <a class="icon-box" href="#" target="_self"> <span><i
                            class="fa fa-home"></i></span>
                    <h4 class="icon-box__title" style="font-family: Arial, Helvetica, sans-serif; ">THANH TOÁN LINH HOẠT
                    </h4>
                    <p>Đa dạng hình thức thanh toán giúp khách hàng có nhiều sự lựa chọn hơn, thuận tiện hơn </p>
                </a> </div>
            <div class="col-sm-6 col-md-4 col-lg-4"> <a class="icon-box" href="#" target="_self"> <span><i
                            class="fa fa-globe"></i></span>
                    <h4 class="icon-box__title" style="font-family: Arial, Helvetica, sans-serif; ">KHO BÃI HIỆN ĐẠI
                    </h4>
                    <p>Đầu tư kho bãi chuyên nghiệp. Mỗi kiện hàng đều được lưu trữ và sắp xếp một cách khoa học và
                        logic </p>
                </a> </div>
            <div class="col-sm-6 col-md-4 col-lg-4"> <a class="icon-box" href="#" target="_self"> <span><i
                            class="fa fa-road"></i></span>
                    <h4 class="icon-box__title" style="font-family: Arial, Helvetica, sans-serif; ">GIAO HÀNG TẬN NƠI
                    </h4>
                    <p>Với mạng lưới liên kết cùng các dịch vụ vận chuyển nội địa Việt Nam, chúng tôi có thể chuyển hàng
                        đến địa chỉ người nhận</p>
                </a> </div>
        </div>
    </div>
</section>