#contact-form input[type="submittest"],
.comment-form input[type="submittest"] {
  padding: 12px 30px;
  outline: none;
  border: none;
  background: #ffba00;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
#contact-form input[type="submittest"]:hover,
.comment-form input[type="submittest"]:hover {
  opacity: 0.7;
}


#contact-form input[type="submittest"],
.comment-form input[type="submittest"] {
  padding: 12px 30px;
  outline: none;
  border: none;
  background: #ffba00;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
#contact-form input[type="submittest"]:hover,
.comment-form input[type="submittest"]:hover {
  opacity: 0.7;
}


#contact-form input[type="password"],
.comment-form input[type="password"],
#contact-form textarea,
.comment-form textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #666666;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}
#contact-form input[type="password"]:focus,
.comment-form input[type="password"]:focus,
#contact-form textarea:focus,
.comment-form textarea:focus {
  border: 1px solid #ffba00;
}
#contact-form textarea,
.comment-form textarea {
  height: 146px;
}
